<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ys.dabang.mapper.BoardMapper">
	
	<!-- 게시물 불러오기 -->
	<select id="getList" resultType="hashMap">
		<include refid="pagingPre" />
	    <![CDATA[
	   SELECT 
	 	   A.bcd 
	 	 , NVL(A.btitle,'제목 없음') btitle 
	 	 , NVL(A.bcont, '내용 없음') bcont 
	 	 , TO_CHAR(A.bdate,'yyyy-MM-dd') bdate 
	 	 , NVL(A.blike,0) blike 
	 	 , NVL(A.bvisit,0) bvisit 
	 	 , A.mid
          , case 
              when 1.00 > ROUND((TO_DATE(TO_CHAR(sysdate,'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS') - TO_DATE(TO_CHAR(A.bdate,'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS'))* 24 * 60, 2) 
              then ROUND((TO_DATE(TO_CHAR(sysdate,'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS') 
              - TO_DATE(TO_CHAR(A.bdate,'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS')) * 24 * 60 * 60, 2) || ' 초전'
              
              when 1.00 >  ROUND((TO_DATE(TO_CHAR(sysdate,'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS') - TO_DATE(TO_CHAR(A.bdate,'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS')) * 24, 2) 
              then ROUND((TO_DATE(TO_CHAR(sysdate,'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS') 
              - TO_DATE(TO_CHAR(A.bdate,'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS')) * 24 * 60) || ' 분전'
              
              when 1.00 >  ROUND((TO_DATE(TO_CHAR(sysdate,'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS') - TO_DATE(TO_CHAR(A.bdate,'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS')) , 2) 
              then ROUND((TO_DATE(TO_CHAR(sysdate,'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS') 
              - TO_DATE(TO_CHAR(A.bdate,'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS')) * 24) || '  시간전'
              
              when 10 < ROUND(TO_DATE(TO_CHAR(sysdate,'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS') 
             - TO_DATE(TO_CHAR(A.bdate,'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS'))
             then to_char(A.bdate,'YYYY-MM-DD')
              
              ELSE
                  ROUND(TO_DATE(TO_CHAR(sysdate,'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS') 
             - TO_DATE(TO_CHAR(A.bdate,'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS')) || ' 일전'
             
              end as mt
          
          , COUNT(b.bcd) rec
	 	 FROM BOARD A , COMMENTS B
          WHERE 1 = 1
          AND A.bcd = B.bcd(+)
          GROUP BY A.bcd , A.btitle ,A.bcont,A.bdate,A.blike,A.bvisit,A.mid
          ORDER BY A.bdate desc , A.blike desc , A.bvisit desc
            ]]>
         <include refid="pagingPost" />
	</select>

	<!-- 베스트 글 -->
	<select id="bestList" resultType="hashMap">
	     	SELECT 
         ROWNUM
         , x.*
         FROM (
         SELECT 
	     	  A.bcd 
	     	, NVL(A.btitle,'제목 없음') btitle 
	     	, NVL(A.bcont, '내용 없음') bcont 
	     	, TO_CHAR(A.bdate,'yyyy-MM-dd') bdate 
	     	, NVL(A.blike,0) blike 
	     	, NVL(A.bvisit,0) bvisit 
	     	, A.mid
             , count(B.bcd) rec
	     	FROM BOARD A , COMMENTS B
	     	WHERE 1 = 1
             AND A.bcd = B.bcd(+)
             <![CDATA[
	     	AND A.bdate >= TO_DATE(ADD_MONTHS(SYSDATE,-1),'yyyy-mm-dd')
	     	]]>
             GROUP BY A.bcd , A.btitle ,A.bcont,A.bdate,A.blike,A.bvisit,A.mid
             ORDER BY blike DESC, bvisit DESC
         ) x
         WHERE 1 = 1
         <![CDATA[
         AND ROWNUM < 6
         ]]>
	</select>
	
	<!-- 상세정보 -->
	<select id="boardInfo" parameterType="hashMap" resultType="hashMap">
       		SELECT a.bcd
       			  ,a.btitle
       			  ,a.bcont
       			  ,TO_CHAR(a.bdate , 'yyyy-mm-dd') as BDATE
       			  ,a.blike
       			  ,a.bvisit
       			  ,a.mid
       			  ,b.*
       FROM BOARD a , (SELECT *
                       FROM MEMBERCLASS
                       WHERE 1 = 1
                       AND classcd = (SELECT NVL(classcd,1) FROM MEMBER
                                       WHERE 1 = 1
                                       AND mid = #{mid}
                                       ) 
                       )b
       WHERE 1 = 1
       AND a.bcd = #{bcd}
	</select>
	
	<!-- 댓글 상세정보 -->
	<select id="repleInfo" parameterType="hashMap" resultType="hashMap">
         		SELECT a.* ,b.*
         FROM COMMENTS a , (SELECT *
                         FROM MEMBERCLASS
                         WHERE 1= 1
                         AND classcd = (SELECT NVL(classcd,1) FROM MEMBER
                                         WHERE 1= 1
                                         AND mid = #{mid}
                                         ) 
                         )b
         WHERE 1= 1
         AND a.bcd = #{bcd}
         ORDER by 3 DESC
	</select>
	
	<!-- 댓글 입력 -->
	<insert id="repleInsert" parameterType="hashMap">
		INSERT INTO COMMENTS(ccd,ccont,cdate,bcd,mid)
        SELECT MAX(ccd) + 1 ,#{ccont},SYSDATE,#{bcd},#{mid} 
        FROM COMMENTS
	</insert>
	
	
	
	
	
	
	
	
	
	
	<sql id="pagingPre">
		<![CDATA[
   			SELECT AAA.*
			  FROM (
			          SELECT COUNT(*) OVER() AS TOTAL_COUNT
			               , ROWNUM rnum
			               , AA.*
			            FROM (  
 		]]>
 	</sql>
 	
 	<sql id="pagingPost">
 		<![CDATA[
 			 	             ) AA
			       ) AAA
			 WHERE AAA.RNUM BETWEEN #{START} AND #{END}
 		]]>
 	</sql>

</mapper>